[Unit]
Description=Grafana Promtail (nginx)
Documentation=https://github.com/grafana/loki
After=network-online.target

[Service]
User=root
Restart=always
ExecStart=/usr/local/bin/promtail --config.file=/etc/promtail/nginx.yaml

[Install]
WantedBy=multi-user.target
