[Unit]
Description=Grafana Loki
Documentation=https://github.com/grafana/loki
After=network-online.target

[Service]
User=root
Restart=always
ExecStart=/usr/local/bin/loki --config.file=/etc/loki/loki-config.yml

[Install]
WantedBy=multi-user.target
